<head> </head>
<html>
    <meta
        content="text/html;charset=utf-8"
        http-equiv="content-type"
    /><!-- /Added by SmoServiceMedia_Bot -->
    <head>
        <meta charset="utf-8" />
        <title>Официальный Телеграм СМОСЕРВИС Медиа Бот</title>
        <link href="logo1.png" rel="icon" type="image/x-icon" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="summary" name="twitter:card" />
        <meta content="@Telegram" name="twitter:site" />
        <meta
            content="Превращай свои TikTok видео, в реальные деньги!
"
            name="twitter:description"
        />
        <meta content="Telegram Messenger" name="twitter:app:name:iphone" />
        <meta content="686449807" name="twitter:app:id:iphone" />
        <meta
            content="tg://resolve?domain=SmoServiceMedia_Bot"
            name="twitter:app:url:iphone"
        />
        <meta content="Telegram Messenger" name="twitter:app:name:ipad" />
        <meta content="686449807" name="twitter:app:id:ipad" />
        <meta
            content="tg://resolve?domain=SmoServiceMedia_Bot"
            name="twitter:app:url:ipad"
        />
        <meta content="Telegram" name="twitter:app:name:googleplay" />
        <meta
            content="org.telegram.messenger"
            name="twitter:app:id:googleplay"
        />
        <meta
            content="https://tele.click/SmoServiceMedia_Bot"
            name="twitter:app:url:googleplay"
        />
        <meta
            content="app-id=686449807, app-argument: tg://resolve?domain=SmoServiceMedia_Bot"
            name="apple-itunes-app"
        />
        <meta name="yandex-verification" content="0ece33992225711e" />
        <meta name="yandex-verification" content="6f046f28e0171bdb" />
        <meta name="sitesreviews-verification" content="4e5a87feac" />
        <link
            href="static/1_faviconeccb.html"
            rel="shortcut icon"
            type="image/x-icon"
        />
        <link href="static/173_css" rel="stylesheet" type="text/css" />
        <link href="static/1_bootstrap.css" rel="stylesheet" />
        <link href="static/1_telegram.css" media="screen" rel="stylesheet" />
    </head>
    <body>
        <div class="tgme_page_wrap">
            <div class="tgme_head_wrap hidden">
                <div class="tgme_head">
                    <a class="tgme_head_brand" href="index.html">
                        <i class="tgme_logo"></i>
                    </a>
                </div>
            </div>
            <a
                class="tgme_head_dl_button"
                href="tg://resolve?domain=TegroAIbot"
            >
                ПЕРЕЙТИ В БОТА<i class="tgme_icon_arrow"></i>
            </a>
            <div class="tgme_page tgme_page_post" style="padding-top: 65px">
                <div class="tgme_page_photo">
                    <a href="tg://resolve?domain=TegroAIbot"
                        ><img
                            class="tgme_page_photo_image"
                            src="static/logo.png"
                    /></a>
                </div>
                <h1 class="tgme_page_title">SMOSERVICE MEDIA BOT</h1>
                <div class="tgme_page_extra">Добро пожаловать</div>
                <div class="tgme_page_description">
                    Система автоматизированной раскрутки и продвижения в
                    социальных сетях❗️ <br />С нами работают сотни тысяч
                    блогеров и тысячи предпринимателей❗️
                </div>
            </div>
        </div>
    </body>
</html>

<div class="tgme_page_action">
    <a class="tgme_action_button_new" href="tg://resolve?domain=TegroAIbot"
        >Открыть бота</a
    >
</div>
<div class="tgme_page_additional">
    © Все права защищены «SMOSERVICE MEDIA BOT» 2023
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] =
            m[i] ||
            function () {
                (m[i].a = m[i].a || []).push(arguments);
            };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
            (a = e.getElementsByTagName(t)[0]),
            (k.async = 1),
            (k.src = r),
            a.parentNode.insertBefore(k, a);
    })(
        window,
        document,
        'script',
        'https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js',
        'ym'
    );
    ym(64797954, 'init', {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
    });
</script>
<noscript
    ><div>
        <img
            src="https://mc.yandex.ru/watch/64797954"
            style="position: absolute; left: -9999px"
            alt=""
        /></div
></noscript>
<!-- /Yandex.Metrika counter -->
<div id="tgme_frame_cont"></div>
<script type="text/javascript">
    var protoUrl = 'tg:\/\/resolve?domain=TegroAIbot';
    if (false) {
        var iframeContEl =
            document.getElementById('tgme_frame_cont') || document.body;
        var iframeEl = document.createElement('iframe');
        iframeContEl.appendChild(iframeEl);
        var pageHidden = false;
        window.addEventListener(
            'pagehide',
            function () {
                pageHidden = true;
            },
            false
        );
        window.addEventListener(
            'blur',
            function () {
                pageHidden = true;
            },
            false
        );
        if (iframeEl !== null) {
            iframeEl.src = protoUrl;
        }
        !false &&
            setTimeout(function () {
                if (!pageHidden) {
                    window.location = protoUrl;
                }
            }, 2000);
    } else if (protoUrl) {
        setTimeout(function () {
            window.location = protoUrl;
        }, 100);
    }
</script>
